extends ../partials/layout

block content
    form(method="post") 
        input(type="text", name="subject", placeholder="제목을 입력해주세요")
        textarea(name="subject_content", cols="30", rows="10") 
        input(type="submit", value="등록")