
.calender__wrap {
    width: 500px;
    position:relative;
    left:0;
    right:0;
    .today{
        font-size: 24px;
    }
    .calender-list{
        width:100%;
        border:1px solid #eaeaea;
        caption {
            padding: 20px 0;
        }
        thead{
            border-bottom: 1px solid #f7f7f7;
            th{
                padding: 10px 0;
            }
        }
        tbody{
            tr{
                td{
                    border: 1px solid #f7f7f7;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }
    }
}