nav {
    position: fixed;
    top:0;
    width: 100%;
    background: rgba(255,255,255,.25);
    color: #1c1c1c;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;

        .header__gnb-wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .header__gnb1 {
                display: flex;
                padding: 4px 16px;
                background: rgba(0,0,0,.25);
                border-radius: 100px;
                margin-bottom: 16px;

                li {
                    margin-left: 16px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .header__gnb2 {
                display: flex;
                li {
                    margin-left: 16px;
                }
            }
        }
    }

}

main {
    height: 200vh;
}