/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  color: #1c1c1c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
nav .nav__wrap .header__gnb-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .nav__wrap .header__gnb-wrap .header__gnb1 {
  display: flex;
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-bottom: 16px;
}
nav .nav__wrap .header__gnb-wrap .header__gnb1 li {
  margin-left: 16px;
}
nav .nav__wrap .header__gnb-wrap .header__gnb1 li:first-child {
  margin-left: 0;
}
nav .nav__wrap .header__gnb-wrap .header__gnb2 {
  display: flex;
}
nav .nav__wrap .header__gnb-wrap .header__gnb2 li {
  margin-left: 16px;
}

main {
  height: 200vh;
}

main {
  margin-top: 100px;
}
main #visual {
  margin-top: -100px;
  height: 560px;
  background: tomato;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  display: inline-block;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #0A00FF;
  color: #fff;
}
