nav
    ul.nav__wrap
        li.logo
            a(href="/") Logo
        li.header__gnb-wrap 
            ul.header__gnb1
                li
                    a(href="/user/login") login
                li
                    a(href="/user/join") join
                li
                    a(href="/") Search
            ul.header__gnb2
                li
                    a(href="/") Dnf'L
                li
                    a(href="/") Schedule
                li
                    a(href="/") News Letter
                li
                    a(href="/") Writing
                li
                    a(href="/") Community