extends ../templates/layout

block content
    form(method="post") 
        input(type="text", name="username", placeholder="등록하신 아이디를 입력해주세요.")
        input(type="password", name="password", placeholder="비밀번호를 입력해주세요.")
        input(type="submit", value="로그인")
    
    a(href="/user/join") 회원가입